/*    Fonts    */

/*font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;*/



/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/


/*    Common styles    */

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 100px 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
    font-size: 33px;
    line-height: 34px;
}

/*    Main Header styles    */

header {
    position: relative;
    height: 100vh;
    min-height: 700px;
    background-image: url('../img/bg_header.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-size: 42px;
    line-height: 43px;
    font-weight: 600;
    color:#ffffff;
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar-brand::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 5px;
    background-color: #ffffff;
    height: 3px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.navbar-brand:hover::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


.main-heading {
    position: absolute;
    top: 25%;
    left: 10%;
}

.main-heading h3 {
    font-size: 43px;
    line-height: 44.5px;
    color: #ffffff;
}

h1 {
    max-width: 750px;
    margin-bottom: 50px;
    font-size: 64.7px;
    line-height: 67.2px;
    font-weight: 600;
    color: #ffffff;
}

.main-heading p {
    max-width: 750px;
    font-size: 23px;
    line-height: 32.3px;
    font-weight: 400;
    color: #ffffff;
}

/*    Main nav styles    */

header .navbar-toggler {
    color: #ffffff;
}

.main-header .nav-link {
    font-size: 17.4px;
    line-height: 18.1px;
    font-weight: 600;
    color: #ffffff;
}

.main-header .nav-link:hover {
    color: #ffffff;
}

.main-header .nav-link::after {
        content: '';
        display: block;
        width: 100%;
        margin-top: 5px;
        background-color: #ffffff;
        height: 1px;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

.main-header .nav-link:hover::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*    Header buttons styles    */

.header-buttons {
    padding-left: 70px;
}

.header-buttons .btn {
    height: 60px;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    font-weight: 600;
    line-height: 14.3px;
    text-transform: uppercase;
    color:#ffffff;
    opacity: .8;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.header-buttons .btn:hover {
    color: #ffffff;
    opacity: 1;
}


.btn-pink {
    margin-right: 25px;
    background-color: #f42267;
}

.btn-violet {
    background-color: #69328e;
}


/*    Watch styles    */

.watch {
    background-image: url('../img/World Map.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


/*.watches {*/
/*    padding-left: 100px;*/
/*}*/

.watch h2 {
    letter-spacing: -2px;
    color:  #484848;
}

.watch h3 {
    color:  #484848;
}

.watch .nav-pills {
    margin-bottom: 20px;
}

.watch .nav-pills .nav-item .nav-link.active {
    background-color: #f42267;
    color: #ffffff;
    -webkit-box-shadow: 0 14px 16px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 14px 16px rgba(0, 0, 0, .35);
    box-shadow: 0 14px 16px rgba(0, 0, 0, .35);
}

.watch .nav-link {
    padding: 14px 30px;
    font-size: 13px;
    line-height: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #484848;
}

.watch .nav-link:hover {
    background-color: rgba(244, 34, 103, .5);
}


.watch .btn:hover {
    -webkit-box-shadow: 0 10px 0 #ff5990;
    -moz-box-shadow: 0 10px 0 #ff5990;
    box-shadow: 0 10px 0 #ff5990;
    background-color: #da1757;
}



.watch .btn-shadow {
    padding: 15px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: none;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

    
/*    Common styles    */
/*    Common styles    */
/*    Common styles    */
/*    Common styles    */








/*    Media styles    */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    section {
        padding: 50px 0;
    }

    .main-heading {
        padding: 30px 15px;
        background-color: rgba(0, 0, 0, .3);
    }
}

@media only screen and (max-width : 991px) {
    .navbar-nav {
        position: relative;
        padding: 0 15px;
        z-index: 1;
        background: linear-gradient(45deg, #ed1b33 0%, #442e82 100%);
    }

    .nav-item {
        margin: 0 auto;
    }
}

@media only screen and (max-width : 870px) {

    h1 {
        max-width: 600px;
        margin-bottom: 30px;
        font-size: 50px;
    }

    .main-heading h3 {
        font-size: 35px;
    }

    .main-heading p {
        max-width: 550px;
        font-size: 16px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .header-buttons {
        max-width: 100%;
        margin: 0 20px;
        padding-left: 20px;
    }

    .main-heading {
        left: 0;
        top: 100px;
        margin: 0 20px;
        max-width: 100%;
    }
}

@media only screen and (max-width : 680px) {
    h1 {
        max-width: 100%;
        margin-bottom: 18px;
        font-size: 50px;
    }

    .main-heading h3 {
        margin-bottom: 0;
        font-size: 18px;
    }

    .main-heading p {
        max-width: 100%;
        font-size: 14px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {

    h1 {
        font-size: 40px;
    }

    .watch h2 {
        font-size: 40px;
    }

    .watch h3 {
        font-size: 28px;
    }

    .header-buttons .btn {
        display: block;
        width: 100%;
        margin-top: 25px;
    }

    .watch .btn-shadow {
        padding: 10px 15px;
    }

    .watch .btn:hover {
        -webkit-box-shadow: 0 5px 0 #ff5990;
        -moz-box-shadow: 0 5px 0 #ff5990;
        box-shadow: 0 5px 0 #ff5990;
        background-color: #da1757;
    }
}
/* Extra Small Devices */
@media only screen and (max-width : 540px) {

    h1 {
        font-size: 34px;
    }
}
@media only screen and (max-width : 480px) {
    .watch .nav-pills .nav-item {
        width: 100%;
    }

    .watch .nav-pills .nav-item .nav-link {
        padding: 8px 16px;
    }
}


@media only screen and (max-width : 380px) {
    .navbar-brand {
        font-size: 30px;
    }
}
